body{
    font-family: 'Otomanopee One', sans-serif;
    }
.span-color{color:rgba(252, 138, 15, 0.891)
}
.section-area-flexible{
    display: flex;
}
.half-width{
    width: 50%;}
.half-width img{
    width:100%}
.link-button{
    text-decoration: none;
    
        }